<%= form_for @note do |f| %>

 <div>Title: <%= f.text_field :title %></div>
  <div>Description: <%= f.text_area :description, rows: 6 %></div>
<br>

<br><div><%= f.submit "Save" %></div><br/>

<% end %>
