<div class="container">
	<h1>My Notes</h1>
	<div class="row">    
    <div class="col-md-10" style="float:left">
			<table class="table">
			  <h3>Notes</h3>
				<tbody>
					<tr>
						<td><b>Client<b></td>
						<td><b>Title<b></td>
						<td><b>Note<b></td>
						<td><b>Date Created<b></td>
						<td><b>Completed<b></td>
						<td><b>Click to complete!<b></td>
					</tr>
					<% @notes.each do |note| %>
					<tr>
						<td><%= link_to note.client.first_name, client_path(note.client) %></td>
						<td><%= link_to note.title, client_note_path(note.client, note.id) %></td>
						<td style="width:400px;"><%= link_to note.description, client_note_path(note.client, note.id) %></td>
						<td><%= note.created_at.strftime("%m/%d/%Y at %I:%M%p") %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>

<script>
  $('.well a:contains("Notes")').parent().addClass('active');
</script>



