<%= form_for :follow_up, url: {action: "create", id: @follow_up} do |f| %>

<div>
  Task: <%= f.text_field :task %>
</div>
<div>Assigned to: 
  <%= select_tag 'user_id', options_from_collection_for_select(User.all, "id", "first_name") %></div>

<div><%= f.submit "Save"%></div>
<% end %>
