<div class="container">
  <h1>Your Follow-ups</h1>
	<table class="table" style="float:left;">
		<tbody>
		  <tr>
				<td><b>Task<b></td>
				<td><b>Completed<b></td>
				<td><b>Date Created<b></td>
				<td><b>Click to complete!<b></td>
			</tr>
				<% @current_user.follow_ups.each do |follow_up| %>
			<tr>
				<td><%= follow_up.task %></td>
				<td><%= follow_up.completed %></td>
				<td><%= follow_up.created_at.strftime("%m/%d/%Y") %></td>
				<td><%= link_to "Click to complete task", follow_up_path(follow_up, follow_up: { completed: true }), method: :patch %></td>
			</tr>
				<% end %>
		</tbody>
	</table>
</div>