<h1>Follow Ups Index</h1>

<% @current_user.follow_ups.each do |follow_up| %>
  <div>
    <%= follow_up.task %>
    <%= follow_up.completed %>
    <%= link_to "Click to complete task", follow_up_path(follow_up, follow_up: { completed: true }), method: :patch %>
  </div>
<% end %>
	