<h1>Follow Ups Index</h1>

<% @current_user.follow_ups.each do |follow_up| %>
  <%= follow_up.task %>
  <%= follow_up.completed %>
  <%= link_to "Click to complete task", controller: :follow_ups, action: :update, method: :patch, id: follow_up.id, completed: true %>

<% end %>
	