<div class="col col-lg-3">
  <ul class="nav nav-pills nav-stacked">
    <li class="nav-header"></li>
    <li class="active"><a href="http://bootply.com" title="The Bootstrap Playground" target="ext">Home</a></li>
    <li><a href="/tagged/bootstrap-3">Bootstrap 3</a></li>
    <li class="divider"></li>
    <li><a href="/61518" title="Bootstrap 3 Panel">Panels</a></li>
    <li><a href="/61521" title="Bootstrap 3 Icons">Glypicons</a></li>
    <li><a href="/61523" title="Bootstrap 3 ListGroup">List Groups</a></li>
    <li><a href="#">GitHub</a></li>
    <li><a href="/61518" title="Bootstrap 3 Slider">Carousel</a></li>
    <li><a href="/62603">Layout</a></li>
  </ul>
</div>