<div class="container">
  <h1>Latest Activity</h1>
  <p>What is going on with your clients</p>
  <div class="row-fluid">
    <div class="span6">
      <h3>Notes</h3>
      <table class="table" style="width:70%; float:left;">
        <tbody>
          <tr>
            <td><b>Client<b></td>
            <td><b>Title<b></td>
            <td><b>Note<b></td>
            <td><b>Date<b></td>
          </tr>
          <% @current_user.clients.each do |client| %>
          <% client.notes.each do |note| %>
          <tr>
            <td><%= link_to note.client.first_name, client_path(note.client) %></td>
            <td><%= note.title %></td>
            <td style="width:400px;"><%= note.description %></td>
            <td><%= note.created_at.strftime("%m/%d/%Y at %I:%M%p") %></td>
          </tr>
            <% end %>
          <% end %>
          </tbody>
      </table>
      </div>
      </div>
  </div>
  <hr>
</div>

<script>
  $('.nav a:contains("Glance")').parent().addClass('active')
</script>



