<h1>Clients Index</h1>
<div class="container">
  <div class="span6" style="width:70%; float:left;">
		<ul>
		<% @current_user.clients.each do |client| %>

		<li class="list_description"> <dl>
		<dt><%= link_to client.first_name, client_path(client)%></dt>
		<p><b>Diagnosis: </b><%= client.diagnosis %></p><p><b>Advanced Directives: </b><%= client.advanced_directives %></p>

		<% end %> </table>

		<br>

		<%= button_to "New Client", new_client_path(@client), method: :get,class: "btn btn-primary btn-lg" %>
	</div>
</div>


