<h1>Clients Index</h1>

<table>
<% @current_user.clients.each do |client| %>

<td class="list_description"> <dl>
<dt><%= link_to client.first_name, client_path(client)%></dt>
<br>

<% end %> </table>

<br>

<%= button_to "New Client", new_client_path(@client), method: :get,class: "btn btn-primary btn-lg" %>

</div>


