<div id="welcome-page">
	<div id="welcome-content">
		<div class="container-narrow">
			<br />
			<br />
			<br />
			<div class="jumbotron" style="background:none;">
				<h1>
					SmartProvider
				</h1>
				<p class="lead">
					Helping Nurses with Home Care
				</p>
				<%= button_to 'Create an Account', new_user_path, method: :get, class: "btn btn-large btn-success" %>
			<br />
			<br />
			<br />
			</div>
			<br />
			<br />
			<br />
			<div class="footer">
				<p>
					© SmartProvider 2013
				</p>
			</div>
		</div>

</div>
