<div id="welcome-page">
	<div id="welcome-content">
		<div class="container-narrow">
			<br />
			<br />
			<br />
			<div class="jumbotron" style="background:none;">
				<h1>
					SmartProvider
				</h1>
				<p class="lead">
					Helping Nurses with Home Care
				</p>
				<button class="btn btn-large btn-success" id="create-new-account">Create an Account</button>
			<br />
			<br />
			<br />
			<p>Already have an account? <a href="#" id="login-account">Log In</a></p>
			</div>
			<div class="footer">
				<br />
				<p>
					© SmartProvider 2013
				</p>
			</div>
		</div>

</div>

<div class="lightbox-bg"></div>
<div class="lightbox-box1">
	<%= render 'users/form' %>
</div>

<div class="lightbox-box2">
	<%= render 'login/form' %>
</div>
