<div class="container">
  <div class="hero-unit">
    <h1>Welcome back!    </h1>
      <p>SmartProvider is here to help you </p>
  </div>
    <br>
    
  <div class="container">
    <%= render 'form' %>
  </div>

  <br>
  <hr>
  <div class="footer">
    <p>© SmartProvider 2013</p>
  </div>
</div>
