/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.content {
	margin-top: 100px;
}

.photo {
	float: left;
	margin-right: 20px;
}

.photo img {
	width: 91px;
	height: 120px;
	border-radius: 10px;
	border: 2px solid #fff;
	box-shadow: 1px 1px 2px 2px #888;
}
.img_container {
	border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}

#profile_button {
	font-family: Helvetica; 
	font-weight: 10; 
}

/*#profile_button > a {
	color: #999999;
}

#profile_button a:visited {
	color:#999999;
}*/

.input-append button.add-on {
    border: 0;
	  background: none;
	  /** belows styles are working good */
	  padding: 2px 5px;
	  margin-top: 2px;
	  position: relative;
	  left: -28px;
	  /* IE7-8 doesn't have border-radius, so don't indent the padding */
	  margin-bottom: 0;
	  -webkit-border-radius: 3px;
	  -moz-border-radius: 3px;
	  border-radius: 3px;
}

input#query {
	border: none;
	icon: search;
	margin:0;
  margin-top: 5px;
  padding: 0;
  padding-right: 3px;
  padding-right: 4px \9;
	padding-left: 3px;
	padding-left: 4px \9;
	/* IE7-8 doesn't have border-radius, so don't indent the padding */

	margin-bottom: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.search-query:focus + button {
  z-index: 3;
}

.lightbox-bg {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 120%;
   background: rgba(0, 0, 0, 0.5);
   display: none;
}

.lightbox-box1, .lightbox-box2 {
	padding: 20px;
	position: absolute;
	top: 10px;
	left: 625px;
	width: 300px;
	background-color: white;
	box-shadow: 0px 0px 20px #000;
	display: none;
}

#create-new-account {
}

#login-account {
}


#welcome-page {
	position:absolute;
	margin-left:-100px;
	margin-top:-100px;
	background-image:url('welcome.jpg');
	background-size:100%;
	height:700px;
	width:105%;
}

#welcome-content {
	margin-left:100px;
}