// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-lg-4 {
  border-radius: 4px;
  border: 1px solid #000;
  padding: 30px;
  width: 32.55%;
  margin-right: 5px;
  margin-bottom: 15px;
  height: 540px;
  padding: 0px;
}

#about-header {
  background-color: rgba(255,255,255, 0.7);
  width: 100%;
  border: 1px solid #000;
  border-radius:5px;
  margin-bottom: 5px;
  margin-top:5px;
  margin-left:-20px;
  padding-left:20px;
  padding-right:20px;
}