<div class="span6" style="width:70%; float:left;">
    <ul class="nav nav-tabs">
      <li><%= link_to "Notes", client_path(@client) %></li>
      <li><%= link_to "Vitals", new_client_vital_path(@client) %></li>
      <li><%= link_to "Vitals History", client_vitals_path(@client) %></li>
    </ul>
</div>
