<div class="col-md-7" style="float:left">
    <ul class="nav nav-tabs">
      <li><%= link_to "Feed", users_path %></li>
      <li><%= link_to "Notes", notes_path %></li>
      <li><%= link_to "Follow-ups", follow_ups_path %></li>
    </ul>
</div>