<div class="col col-lg-2">
  <ul class="nav nav-pills nav-stacked">
    <li class="nav-header"></li>
    <li class="active"> <%= link_to "Feed",notes_path(@current_user)%></li>
    <li><%= link_to "Clients", clients_path %></li>
    <li class="divider"></li>
    <li><a href="#">Follow-ups</a></li>
    <li><a href="#">Vitals History</a></li>  
  </ul>
</div>